.pantallaAjustes{
    background-color:#f29a2e;
    color: #000;
    padding: 20px;
    border: 2px solid #000;
    border-radius: 20px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pantallaAjustes h3{
    margin: 10px;
    font-size: 25px;
    font-weight: bold;

}

.pantallaAjustes button{
    font-size: 20px;
    font-weight: bold;
    margin: 20px;
    padding: 10px;
    border: none;
    box-shadow: 4px 4px 5px #f29999;
    border-radius: 15px;
    background-color: #bf5669;
    color: #fff;

}
.controlInput{
    appearance:none;
    background: #999;
    border: 1px solid black;
    border-radius: 2px;
    height: 5px;  
}

.controlInput::-webkit-slider-thumb{
    appearance:none;
    width: 30px;
    height: 20px;
    background-image: url('./assets/img/cerebro.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;   
}

@media (min-width:576px){
    .pantallaAjustes{
        width: 50%;
    }
    
}
@media (min-width:768px){
    .pantallaAjustes{
        width: 30%;
    }

}